* {
    --RadialGradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
    --HeaderOutline: hsl(217, 16%, 45%);
    --ScoreText: hsl(229, 64%, 46%);
    --DarkText: hsl(229, 25%, 31%);

}

@media only screen and (min-width: 1281px) and (max-width: 1920px) {
    .App {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: rgb(255, 255, 255);
        width: 1366px;
        min-height: 1000px;
        background: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
        position: relative;
    }

    .app-bar {
        border: 3px solid var(--HeaderOutline);
        border-radius: 25px;
        padding: 22px 27px;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        width: 650px;
    }

    .score-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        border: none;
        border-radius: 10px;
        background-color: white;
        width: 150px;
        height: auto;
        color: var(--ScoreText)
    }

    .score-title {
        font-family: "Barlow Semi Condensed", sans-serif;
        letter-spacing: .2em;
        font-weight: 700;
        margin-top: 20px;
        font-size: 17px;
    }

    .score {
        font-family: "Barlow Semi Condensed", sans-serif;
        color: var(--DarkText);
        font-weight: 700;
        font-size: 73px;
        margin-bottom: 10px;
    }

    .sign-frame {
        width: 110px;
        min-height: 110px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 90px;
        position: absolute;
        z-index: 10;

    }

    .game-board {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 400px;
        margin-top: 120px;
        position: relative;
    }

    .game-board>img {
        width: 400px;
        z-index: 0;
    }

    .rules-button {
        border: 3px solid white;
        background-color: transparent;
        color: white;
        font-weight: 700;
        padding: 10px 30px;
        border-radius: 10px;
        position: absolute;
        transform: translateX(400px) translateY(800px);
    }

    .rules {
        background-color: white;
        color: var(--DarkText);
        border-radius: 10px;
        padding: 10px 30px 20px 30px;
        position: absolute;
        transform: translatey(200px);
        z-index: 10;
    }

    .exit-button {
        background-color: transparent;
        border: none;
    }

    .ins-top-cont {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .dark-layer {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        z-index: 8;

    }

    .match-titles {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 700px;
        font-size: 25px;
        margin-top: 100px;
        letter-spacing: 0.1rem;
    }

    .pc-placeholder {
        background-color: rgba(0, 0, 0, 0.164);
        width: 200px;
        height: 200px;
        border: none;
        border-radius: 200px;
        transform: translateY(120px) translateX(260px);
        position: absolute;
    }

    .match {
        position: relative;
    }

    .match-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        justify-content: space-between;
    }

    .result-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;

    }

    .result-h1 {
        font-size: 60px;
        z-index: 10;

    }

    .result-button {
        background-color: white;
        font-family: "Barlow Semi Condensed", sans-serif;
        border: none;
        border-radius: 10px;
        padding: 15px 70px;
        color: var(--DarkText);
        z-index: 10;
    }

    .ring-1 {
        background-color: rgba(255, 255, 255, 0.09);
        width: 400px;
        height: 400px;
        border-radius: 400px;
        position: absolute;
        z-index: 7;
    }

    .ring-2 {
        background-color: rgba(255, 255, 255, 0.05);
        width: 600px;
        height: 600px;
        border-radius: 600px;
        position: absolute;
        z-index: 8;

    }

    .ring-3 {
        background-color: rgba(255, 255, 255, 0.01);
        width: 800px;
        height: 800px;
        border-radius: 800px;
        position: absolute;
        z-index: 9;

    }

    .tooltip {
        position: relative;
        display: inline-block;
        box-sizing: border-box;


    }

    .tooltip .tooltiptext {
        /* visibility: hidden; */
        width: 42px;
        height: 60px;
        box-sizing: border-box;

        background-image: url('./assets/images/icon-spock.svg');
        background-repeat: no-repeat;
        background-color: rgb(255, 255, 255);
        color: var(--HeaderOutline);
        text-align: center;
        padding: 25px 0;
        border-radius: 5px;
        border: none;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        opacity: 0;
    }

    .tooltip:hover .tooltiptext {
        box-sizing: border-box;
        opacity: 1;
        border-radius: 5px;
        transition: all 0.08s;
        /* visibility: visible; */
    }
}

@media only screen and (min-width: 601px) and (max-width: 1280px) {
    .App {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: rgb(255, 255, 255);
        width: 601px;
        min-height: 750px;
        background: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
        position: relative;
    }

    .app-bar {
        border: 3px solid var(--HeaderOutline);
        border-radius: 25px;
        padding: 22px 27px;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        width: 500px;
        height: 120px;
    }

    .score-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        border: none;
        border-radius: 10px;
        background-color: white;
        width: 150px;
        height: auto;
        color: var(--ScoreText)
    }

    .score-title {
        font-family: "Barlow Semi Condensed", sans-serif;
        letter-spacing: .2em;
        font-weight: 700;
        margin-top: 20px;
        font-size: 17px;
    }

    .score {
        font-family: "Barlow Semi Condensed", sans-serif;
        color: var(--DarkText);
        font-weight: 700;
        font-size: 50px;
        margin-bottom: 10px;
        text-align: center;
    }

    .sign-frame {
        width: 80px;
        min-height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 90px;
        position: absolute;
        z-index: 10;

    }

    .game-board {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 350px;
        margin-top: 60px;
        position: relative;
    }

    .game-board>img {
        width: 350px;
        z-index: 0;
    }

    .rules-button {
        border: 3px solid white;
        background-color: transparent;
        color: white;
        font-weight: 700;
        padding: 10px 30px;
        border-radius: 10px;
        position: absolute;
        transform: translateX(0px) translateY(680px);
    }

    .rules {
        background-color: white;
        color: var(--DarkText);
        border-radius: 10px;
        padding: 10px 30px 20px 30px;
        position: absolute;
        transform: translatey(200px);
        z-index: 10;
    }

    .exit-button {
        background-color: transparent;
        border: none;
    }

    .ins-top-cont {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .dark-layer {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        z-index: 8;

    }

    .match-titles {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 600px;
        font-size: 20px;
        margin-top: 10px;
        letter-spacing: 0.1rem;
    }

    .pc-placeholder {
        background-color: rgba(0, 0, 0, 0.164);
        width: 150px;
        height: 150px;
        border: none;
        border-radius: 150px;
        transform: translateY(120px) translateX(130px);
        position: absolute;
    }

    .match {
        position: relative;
    }

    .match-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        justify-content: space-between;
    }

    .result-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;

    }

    .result-h1 {
        font-size: 40px;
        z-index: 10;

    }

    .result-button {
        background-color: white;
        font-family: "Barlow Semi Condensed", sans-serif;
        border: none;
        border-radius: 10px;
        padding: 5px 20px;
        color: var(--DarkText);
        z-index: 10;
    }

    .ring-1 {
        background-color: rgba(255, 255, 255, 0.09);
        width: 250px;
        height: 250px;
        border-radius: 250px;
        position: absolute;
        z-index: 7;
    }

    .ring-2 {
        background-color: rgba(255, 255, 255, 0.05);
        width: 450px;
        height: 450px;
        border-radius: 450px;
        position: absolute;
        z-index: 8;

    }

    .ring-3 {
        background-color: rgba(255, 255, 255, 0.01);
        width: 600px;
        height: 600px;
        border-radius: 600px;
        position: absolute;
        z-index: 9;

    }

    .tooltip {
        position: relative;
        display: inline-block;
        box-sizing: border-box;


    }

    .tooltip .tooltiptext {
        /* visibility: hidden; */
        width: 42px;
        height: 60px;
        box-sizing: border-box;

        background-image: url('./assets/images/icon-spock.svg');
        background-repeat: no-repeat;
        background-color: rgb(255, 255, 255);
        color: var(--HeaderOutline);
        text-align: center;
        padding: 25px 0;
        border-radius: 5px;
        border: none;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        opacity: 0;
    }

    .tooltip:hover .tooltiptext {
        box-sizing: border-box;
        opacity: 1;
        border-radius: 5px;
        transition: all 0.08s;
        /* visibility: visible; */
    }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
    .App {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: rgb(255, 255, 255);
        width: 320px;
        min-height: 600px;
        background: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
        position: relative;
    }

    .app-bar {
        border: 3px solid var(--HeaderOutline);
        border-radius: 25px;
        padding: 22px 27px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        width: 250px;
        height: 100px;
    }

    .score-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        border: none;
        border-radius: 10px;
        background-color: white;
        width: 100px;
        height: auto;
        color: var(--ScoreText)
    }

    .score-title {
        font-family: "Barlow Semi Condensed", sans-serif;
        letter-spacing: .2em;
        font-weight: 700;
        margin-top: 20px;
        font-size: 12px;
    }

    .score {
        font-family: "Barlow Semi Condensed", sans-serif;
        color: var(--DarkText);
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 10px;
        text-align: center;
    }

    .sign-frame {
        width: 110px;
        min-height: 110px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 90px;
        position: absolute;
        z-index: 10;

    }

    .game-board {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 400px;
        margin-top: 10px;
        position: relative;
    }

    .game-board>img {
        width: 250px;
        z-index: 0;
    }

    .rules-button {
        border: 3px solid white;
        background-color: transparent;
        color: white;
        font-weight: 700;
        padding: 5px 20px;
        border-radius: 10px;
        position: absolute;
        transform: translateX(0px) translateY(500px);
    }

    .rules {
        background-color: white;
        color: var(--DarkText);
        border-radius: 10px;
        padding: 10px 30px 20px 30px;
        position: absolute;
        transform: translatey(200px);
        z-index: 10;
    }

    .rules>img {
        max-width: 220px;
        margin-bottom: 20px;
    }

    .exit-button {
        background-color: transparent;
        border: none;
    }

    .ins-top-cont {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .dark-layer {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        z-index: 8;

    }

    .match-titles {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 300px;
        font-size: 15px;
        margin-top: 10px;
        letter-spacing: 0.1rem;
    }

    .pc-placeholder {
        background-color: rgba(0, 0, 0, 0.164);
        width: 100px;
        height: 100px;
        border: none;
        border-radius: 100px;
        transform: translateY(110px) translateX(150px);
        position: absolute;
    }

    .match {
        position: relative;
    }

    .match-area:not(button) {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        justify-content: space-between;
        transform: scale(0.7)
    }


    .result-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;

    }

    .result-h1 {
        font-size: 20px;
        z-index: 10;

    }

    .result-button {
        background-color: white;
        font-family: "Barlow Semi Condensed", sans-serif;
        border: none;
        border-radius: 10px;
        padding: 10px 30px;
        color: var(--DarkText);
        z-index: 10;
        font-size: 12px;
    }

    .ring-1 {
        background-color: rgba(255, 255, 255, 0.09);
        width: 100px;
        height: 100px;
        border-radius: 100px;
        position: absolute;
        z-index: 7;
    }

    .ring-2 {
        background-color: rgba(255, 255, 255, 0.05);
        width: 200px;
        height: 200px;
        border-radius: 200px;
        position: absolute;
        z-index: 8;

    }

    .ring-3 {
        background-color: rgba(255, 255, 255, 0.01);
        width: 320px;
        height: 320px;
        border-radius: 320px;
        position: absolute;
        z-index: 9;

    }

    .tooltip {
        position: relative;
        display: inline-block;
        box-sizing: border-box;


    }

    .tooltip .tooltiptext {
        /* visibility: hidden; */
        width: 42px;
        height: 60px;
        box-sizing: border-box;

        background-image: url('./assets/images/icon-spock.svg');
        background-repeat: no-repeat;
        background-color: rgb(255, 255, 255);
        color: var(--HeaderOutline);
        text-align: center;
        padding: 25px 0;
        border-radius: 5px;
        border: none;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        opacity: 0;
    }

    .tooltip:hover .tooltiptext {
        box-sizing: border-box;
        opacity: 1;
        border-radius: 5px;
        transition: all 0.08s;
        /* visibility: visible; */
    }


}